%CUST_GLOBAL=(
    email                       => {
        smtp_host           =>  'localhost',
        email_header        =>  qw{X-Mailer: MK Mailer\nX-Sender: www.manu.co.in}
    },
    main_config_file_path       =>  '/var/www/docroots/leads.specind.net/include/',
    error                       =>  {
        error_log_path      =>  '/var/www/docroots/leads.specind.net/schedulers',
        email               =>  {
            err_from    =>  'example_from@manu.co.in',
            err_to      =>  'example_to@manu.co.in',
            err_cc      =>  'example_cc@manu.co.in',
            err_bcc     =>  'example_bcc@manu.co.in',
        }
    },
    db  =>  {
        host    =>  "127.0.01",
        port    =>  "3307",
        username=>  "db_user_name",
        password=>  "db_user.password",
        name    =>  "db_name",
        driver  =>  "mysql"
    },
    out_date_pattern        =>  '%Y-%m-%d',
    out_datetime_pattern    =>  '%Y-%m-%d %H:%M:%S',
    DB_date_format          =>  'yyyy-mm-dd hh:mm:ss',
    Display_date_pattern    =>  '%Y-%m-%d %H:%M:%S'
);
